*{

    font-family: "Inter", serif;
}

.hhh{

    width: 6rem !important;
    height: 5rem;
}

.whatsappbtn{

    border: 2px solid grey !important;
    padding: 10px 18px !important;
    color: green !important;
    font-size: 16px !important;
    
}
.whatsappbtn i{


}
.whatsappbtn:hover {

    border: 2px solid grey !important;
    background-color: green !important;
    color: white !important;
}

.call{

background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
/* margin-top: 1rem !important; */
color: white !important;
font-size: 16px !important;
padding: 10px 18px !important;
}

.call:hover{

    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}
.bannerContent h1{
 
    font-size: 52px;
    font-weight: 600;

    

}

.bannerContent h1 span{
 
    color: #2699fb;

}

.bannerContent p{

    font-size: 22px;
}

.bannerContent ul{

    list-style: none;
    
}

.bannerContent ul li{

    font-size: 20px;
    
}

.bannerContent ul li i{

    color: #2699fb;
    
}

.bannerContentBtn button{

    width: 50%;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
}

.bannerContentBtn button:first-child{

    background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    color: white;
}

.bannerForm{

    padding: 40px;
    
}

.bannerForm h3{

    font-size: 18px;
    font-weight: 700;
}

.bannerForm button{

    width: 100%;
    padding: 10px 0;
    background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    border: none;
    border-radius: 5px;
    color: white;

}

.counterSection h2{

    font-size: 30px;
    color: #2699fb;
    font-weight: 700;
}

.highlights-section{

    background-color: #f7faff;
}

.highlights-section h2{

    color: black !important;
    font-size: 36px !important;
    font-weight: bold  !important;
}

.highlights-section p{

    font-size: 18px;
}

.hhe{

    width: 20%;
    height: 20px;
    background-color: #e7eff8;
}

.highlightItems h4{
    
    font-size: 20px;
    font-weight: 600;
}

.highlightItems p{

    font-size: 15px;
}

.btnblu button{

    width: 20%;
    padding: 5px 10px;
    margin-left: 40%;
}

.bgColor{

    background-color: white
}

.highServices{

    border-radius: 15px !important;
}

.highServices h4{

    color: #2699fb;
    font-size: 23px !important;
    font-weight: 500 !important;
}

.certifySection{

    background-color: #e4effc !important;
}

.hhe {

width: 4rem;
height: 5rem;
}

.certificate-img{

    
    margin-top: 2rem;
    
}

.heading h2{

    color: #2699fb;
    font-size: 40px;
    font-weight: 700;
}


.tabItemsContent ul{

    list-style: none;
}

.Myfooter{

    background-color: #2699fb !important;
}

.Mybtn i{

    color: white;
    font-size: 25px;
}

.Copytryt a{

    text-decoration: none;
}